<h1>Hello Worldx2!</h1>

<div class="title-1">Kevin</div>
<div class="title-res">Latitude</div>

<body>
    <script>
    const productSchoolLat = "37.796465";
    const productSchoolLng = "-122.402492";

    $.ajax({
      url: 'api/v1/weather',
      type: 'GET',
      data: { lat: productSchoolLat, lng: productSchoolLng } ,
      contentType: 'application/json; charset=utf-8',
      success: function (response) {
        console.log(response);
        var res = $('.title-res');
        res.html(response.latitude);
        
      },
      error: function (error) {
        console.log(error);
      }
    });    
    
    
        var titlex = $('.title-1');
        titlex.text("say my name");
         var randomcolor = function getRandomColor(){
  return "#000000".replace(/0/g,function(){return (~~(Math.random()*16)).toString(16);});
}
        titlex.css({backgroundColor: randomcolor, borderColor: "white",fontSize: "20px"})
       
    </script>
    

    
</body>